*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body{
    height: 100vh;
    background-color: black;
    background-image: url('https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80');
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

a:hover{
    color: orange;
}

/* HEADER*/
header{
    position: relative;
    padding: 0 2rem;
}

.introduction{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.introduction .logo a{
    font-size: 2.0rem;
    font-weight: bold;
}

.introduction .links{
    display: flex;
    gap: 2rem;
}

.introduction toggle.btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
